/* All document styles */
body {
    margin: 0;
    background: linear-gradient(#c2c2c2, #ffffff);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    text-decoration: none;
}

header, main {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Header styles*/
header {
    align-items: center;
    justify-content: space-between;
    background-color: #2a3e5c;  
}

header h1 {
    padding: 30px;
    background-color: #c2c2c2;
    font-size: 2.75rem;
    margin: 0;
}

header div img {
    height: 100px;
    margin-right: 20px;
    border-radius: 50px;
}

header div {
    background-color: #c2c2c2;
    margin: 20px 0;
    padding: 15px 0;
    border-radius: 0px 14px 14px 0px;
}

header ul {
    padding-right: 30px;
}

header li {
    display: inline;
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
}

header li:hover, .contact-me li:hover a {
    border-bottom: 4px solid #E2C044;
    transition: 0.2s;
}

header li:hover a, .contact-me li:hover a {
    color: #E2C044;
    transition: 0.2s;
}

header a {
    color: #c2c2c2;
}

/* Main styles */
main {
    position: relative;
}

.hero-bg {
    background-image: url("./18674259.jpg");
    margin: 0;
    opacity: .2;
    height: 80px;
}

h2 {
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 36px;
    color: #2a3e5c
}

section {
    align-items: center;
    margin-top: 30px;
    min-height: 200px;
}

section h3 {
    font-size: 2.5rem;
    width: 21%;
    padding-right: 40px;
    text-align: right;
}

section p, section ul {
    padding: 0 30px;
    border-left: 4px solid #73a391;
}

section p, section > div, section ul {
    flex: 5;
    font-size: 1.1rem;
}

.project-tiles {
    height: auto;
    border-left: 4px solid #73a391;
    padding: 0 20px 20px 20px;
}

.first-tile {
    flex: 1 100%;
}

.first-tile::before {
    background-image: url("./Screenshot\ 2023-03-25\ 224254.png");
}

.tile, .first-tile {
    min-width: 500px;
    min-height: 200px;
    background-color: #587B7F;
    margin: 10px;
    position: relative;
    border: solid 5px #2a3e5c;
    align-items: center;
}

.tile:hover, .first-tile:hover {
    box-shadow: 0px 0px 10px 5px  #2a3e5c;
    transition: 0.2s;
    opacity: 1;
}

.tile::before, .first-tile::before {    
    content: "";
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.tile {
    height: 200px;
    flex: 1;
}

#tile-1::before {
    background-image: url("./LeetCode.png");
}

#tile-2::before {
    background-image: url("./18674259.jpg");
}

#tile-3::before {
    background-image: url("./PreWork.png");
}

#tile-4::before {
    background-image: url("./ZBLS.png");
}

a > div { 
    position: relative;
    color: #ffffff;  
    font-size: 1.5rem;
    line-height: 0.1;
    background-color: #2a3e5c;
    width: 200px;
    padding: 0 4% 5% 1%;
    display: block;
    border-radius : 0px 14px 14px 0px;    
}

code {
    font-size: 1.2rem;
}

/* Contact me / footer section*/

.contact-me, .contact-me li a  {
    background-color: #2a3e5c;
    color: #fff;
    margin-top: 60px
}

.contact-me > ul {
    list-style: none;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}

.contact-me li {
    padding: 5px;
}

/* Media queries */

@media  (max-width: 768px) {
    header {
        flex-direction: column;

    }
    
    header h1 {
        height: 40px;
        padding: 0;
        margin: 0 auto;
    }

    header ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    header li {
        border-bottom: 4px solid #c2c2c2;
    }

    header div {
        width: 100%;
        border-radius: 0;
        height: 40px;
        margin: 0;
    }
    header img {
        display: none;
    }
    
    h2 {
        right: 35%    
    }

    section {
        flex-direction: column;
        align-items:flex-start;
    }

    section h3 {
        width: 84%;
        margin: 0 30px;
        text-align: left;
        border-bottom: 4px solid #73a391;
        
    }

    .contact-me > ul {
        flex-direction: column;
    }
    
    section p, section ul, .project-tiles {
        border-left: none;
    }
}