body {
    margin: 0;
    background-color: #393E41;
    /* Eerie black: #1E2019 */
    color: #F6F5F4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    text-decoration: none;
    text-decoration-color: #E2C044;
}

header, main {
    margin: 0;
}

h1 {
    padding: 15px;
    background-color: #393E41;
    font-size: 2.75rem;
}

main {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #587B7F;  
}

header nav {
    display: flex;      
}

header li {
    display: inline;
    margin: 25px;
    font-size: 24px;
    font-weight: 600;
}

header li:hover {
    border-bottom: 4px solid #E2C044;
    transition: 0.2s;

}
header li:hover a {
    color: #E2C044;
    transition: 0.3s;
}

header a {
    text-decoration: none;
    color: #F6F5F4;
}

.hero-bg {
    background-image: url("./18674259.jpg");
    margin: 0;
    opacity: .2;
    height: 125px;
}

h2 {
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 45px;
    right: 50px;
    font-size: 44px
}

section {
    display: flex;
    align-items: center;
}

section h3 {
    font-size: 2.5rem;
    width: 21%;
    padding-left: 30px;
}

section p, section div, section ul {
    flex: 5;
    margin: 10px;
    font-size: 1.25rem;
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-left: 4px solid #587B7F;
    padding: 0 20px;
}

.tile {
    height: 200px;
}

.tile, .first-tile {
    min-width: 500px;
    background-color: #587B7F;
    margin: 10px;
    position: relative;
    border: solid 4px #E2C044;
    flex: 1;
}

.tile:hover, .first-tile:hover {
    box-shadow: 0px 0px 10px 5px  #E2C044;
    transition: 0.2s;
    opacity: 1;
}

.first-tile {
    flex: 1 100%;
}

.tile::before, .first-tile::before {    
    content: "";
    background-image: url("./18674259.jpg");
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

h4 { 
    position: relative;
    color: #ffffff;  
    font-size: 1.5rem;
    line-height: 0.9;
    background-color: #E2C044;
    width: fit-content;
    margin-top: 10%;
    padding: 4% 1%;
}

.contact-me > ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.contact-me li {
    padding: 5px;
    border-bottom: 4px solid #fff;
}